<div class="movie">
    <h2>Title: {{title}}</h2>
    <img
            src="{{imageUrl}}">
    <p>Available Tickets: {{tickets}}</p><button><a href="#/buy/:{{_id}}">Buy Ticket</a></button>
    <button><a href="#/movies/:{{_id}}">Details</a></button>
</div>